<%- include("header") -%>
    <div class="box" id="heading">
        
            <h1 style="color:#42f56c"> <%= kindOfDay %> </h1>

    </div>
    
    <div class="box">
    
        <% for(var i=0; i<newlist.length; i++) { %>
        <div class="item">
        <input type="checkbox">
            <p><%= newlist[i] %></p>
        </div>
        <% } %>
        

    
    <form class="item" action="/" method="post">
        <label id="font">enter the item</label>
        <input class="enter" name="enter" placeholder="new item" autocomplete="off">
        <button type="submit" name="button" value= <%= kindOfDay  %> >+</button>
    </form>
</div>

<%- include ("footer") -%>